[project]
	description = Solving Algorithmic problems using golang
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Neeldhwaj Pathak (neeldhwaj)
[access "refs/for/refs/*"]
	read = group user/Neeldhwaj Pathak (neeldhwaj)
	push = group user/Neeldhwaj Pathak (neeldhwaj)
	label-Code-Review = -2..+2 group user/Neeldhwaj Pathak (neeldhwaj)
	label-Verified = -1..+1 group user/Neeldhwaj Pathak (neeldhwaj)
	rebase = group user/Neeldhwaj Pathak (neeldhwaj)
	removeReviewer = group user/Neeldhwaj Pathak (neeldhwaj)
	submit = group user/Neeldhwaj Pathak (neeldhwaj)
[access "refs/heads/*"]
	read = group user/Neeldhwaj Pathak (neeldhwaj)
	create = group user/Neeldhwaj Pathak (neeldhwaj)
	push = +force group user/Neeldhwaj Pathak (neeldhwaj)
	pushMerge = group user/Neeldhwaj Pathak (neeldhwaj)
[access "refs/tags/*"]
	push = group user/Neeldhwaj Pathak (neeldhwaj)
	push = +force group user/Neeldhwaj Pathak (neeldhwaj)
